@import "../../../node_modules/@lcu/common/assets/styles/fathym-global.styles";
@import "../../../node_modules/@lcu/common/assets/styles/branding/fathym-branding";
@import "../../../node_modules/@lcu/common/assets/theming/fathym_themes";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import "./app/app.component.scss";

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity); /* For IE8 and earlier */
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.app-background {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  min-width: 300px;
  max-height: -webkit-fill-available;
}

@mixin theme-setup($theme) {
  @include angular-material-theme($theme);
  @include theme-extras($theme);
  @include lcu-component-theme($theme);
  @include specific-theme-styles($theme);
}

/**
  Set specific theme styles
*/
@mixin specific-theme-styles($theme) {
  // set the background color of the active application
  .active-app {
    background-color: mat-color(map-get($theme, primary), 500) !important;

    .active-icon {
      color: mat-color(map-get($theme, accent), A400) !important;
    }
  }
}

@include theme-setup(fathym-sea-green-theme(true));