@import "../../common/assets/common-styles";
@import "./app/app.component.scss";

.app-background {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  min-width: 300px;
  max-height: -webkit-fill-available;
}

@mixin theme-setup($theme) {
  @include angular-material-theme($theme);
  @include theme-extras($theme);
  @include lcu-component-theme($theme);
  
}

@include theme-setup(fathym-ivy-theme(false));

