@import "../../../node_modules/@lcu/common/assets/styles/fathym-global.styles";
@import "../../../node_modules/@lcu/common/assets/styles/branding/fathym-branding";
@import "../../../node_modules/@lcu/common/assets/theming/fathym_themes";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

$global-theme: fathym-ivy-theme(true);
$global-primary: mat-color(map-get($global-theme, primary), 500);
$global-accent: mat-color(map-get($global-theme, accent), 500);
$global-warn: mat-color(map-get($global-theme, warn), 500);

.global-primary {
  background-color: mat-color(map-get($global-theme, primary), 500) !important;
}

.global-accent {
  background-color: mat-color(map-get($global-theme, accent), 500) !important;
}

.global-warn {
  background-color: mat-color(map-get($global-theme, warn), 500) !important;
}

.active-item {
  /**
  * theme-color is set within each theme palette, so when
  * loading multiple palettes, theme-color is returned from the
  * last palette loaded. TODO - Figure out a solution to prevent this
  * and to not have to know a particular theme name - Shannon
  */
  // background-color: theme-color(primary, 500) !important;

  /**
  * palette-color is set within the main theme stylesheet and works like
  * the above theme-color, however, in this instance you need to know
  * the name of the palette you want to use($fathym-ivy-primary, $fathym-ivy-accent, $fathym-ivy-warn, etc.) - Shannon
  */
  background-color: palette-color($fathym-ivy-primary, A400) !important;
}

.accent-divider {
  // background-color: palette-color($fathym-ivy-primary, A400) !important;
  background-color: mat-color(map-get($global-theme, primary), A400) !important;
  width: 1px;
  @extend .margin-top-3;
  @extend .padding-bottom-3;
}

.thinky-logo {
  background-image: fathym-logo(thinky-circle, mat-color(map-get($global-theme, warn), 500), .7);
  background-repeat:no-repeat;
  background-position: center;
}

@mixin theme-setup($theme) {
  @include angular-material-theme($theme);
  @include theme-extras($theme);
  // @include fathym-branding($theme);
}

@include theme-setup($global-theme);

// part of https://dev.to/martinmcwhorter/extending-angular-material-theme-system-n50
// @mixin fathym-theme-properties($theme, $property, $hue) {
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, warn);
//   $success: map-get($theme, success);
//   $background: map-get($theme, background);
//   $foreground: map-get($theme, foreground);

//   &.mat-primary {
//     #{$property}: mat-color($primary, $hue);
//   }
//   &.mat-accent {
//     #{$property}: mat-color($accent, $hue);
//   }
//   &.mat-warn {
//     #{$property}: mat-color($warn, $hue);
//   }
//   &.mat-success {
//     #{$property}: mat-color($success, $hue);
//   }

//   &.mat-primary, &.mat-accent, &.mat-warn, &.mat-success, &[disabled] {
//     &[disabled] {
//       $palette: if($property == 'color', $foreground, $background);
//       #{$property}: mat-color($palette, disabled-button);
//     }
//   }
// }