@import "../../../node_modules/@lcu/common/assets/styles/fathym-global.styles";
@import "../../../node_modules/@lcu/common/assets/styles/branding/fathym-branding";
@import "../../../node_modules/@lcu/common/assets/theming/fathym_themes";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import '../../../node_modules/jsplumbtoolkit/dist/css/syntax-highlighter.css';
@import '../../../node_modules/jsplumbtoolkit/dist/css/jsplumbtoolkit-defaults.css';
@import '../../../node_modules/jsplumbtoolkit/dist/css/jsplumbtoolkit-demo.css';

/**
* --primary-color(etc.) are css variable assigned 
* from the selected theme, coming from Ref Arch
*/
$primary-theme-color: #{var(--test-color, rgb(82, 206, 25))};
$accent-theme-color: var(--accent-color);
$warn-theme-color: var(--warn-color);

.active-item {
  background-color: #{$primary-theme-color} !important;
}

.active-icon {
  background-color: #{$warn-theme-color} !important;
}

.accent-divider {
  background-color: #{$primary-theme-color} !important;
  width: 1px;
  @extend .margin-top-3;
  @extend .padding-bottom-3;
}